/* CSS definition file containing site stylesheet */

/* big blocks for everything */
#container { }

/*every component*/
#navigation {clear: both;height: 7%; background-color: black; font-size: 35px;color: white;line-height:60px}
#content {clear: both; }
#footer {
    width: 90%;
    height: 20px; 
    font-size: small; 
    font-style:italic;
    text-align:center;
    background-color: #22B14C;
    position: fixed;
    bottom: 0;
    clear: both;

}
form {
    position:relative;
}


/*navigation link property*/
#navigation > a { padding-left: 0.5em; padding-right: 0.5em;text-decoration: none}
#navigation > a:link {color: white}
#navigation > a:visited {color: white}
#greeting {
    float: right;
    position: relative;
}

#titlebar{
    
    height: 105px; 
    background-color: #22B14C;
}


body{
    height:100%;
    width:90%; 
    margin-left:auto;
    margin-right:auto;
    clear: both;
    font: normal 16px/26px Arial, sans-serif;
    min-width: 200px;}


tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

th, td {
    padding: 15px;
    text-align:center;
}

img{
    float: left;
}

.portfolio{
    margin:auto;
}

.holdings img{
    height:84px;
    width:200px;
}

#holdings{

    margin:auto;
}

#trading{

    margin:auto;
}
.porttables{
    margin:auto;
}

#ptitle{
    font-size:20px;
    font-weight:bold; 
    margin: auto;
    text-align: center;
}


#ptitle select{
    font-size: 20px;
    width: 100px;
    text-align: center;
}
.portfolioTitle{
    font-size: 20px;
    color:#4CAF50;
    margin: auto;
    text-align: center;
}


#select_bots{
    float: left;
    width: 25%;
    margin-left: 3%;
}

#assemble_images {
    float: left;
    width: 100px;
}
