.title{
  font-size: 16pt;
  font-weight: bold;
  margin: 4px;
}

.gamestatus{
  float: left;
  margin: 10px;
  padding: 20px;
  border: 1px solid black;
}

.playerstatus{
  float: left;
  margin: 10px;
  padding: 20px;
  border: 1px solid black;
}

.td_header{
  font-weight: bold;
}

#footer{
  clear: both;
}
